fastapi
uvicorn
streamlit
requests

sentence-transformers
transformers
torch

chromadb
pypdf
python-multipart
python-dotenv

python-bidi==0.4.2
easyocr
opencv-python-headless
pytesseract

tavily-python
groq